body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    box-sizing: border-box;
}

header {
    background-color: #673ab7;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 60px;
}

.container {
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    position: relative;
}


.sidebar {
    width: 250px;
    background-color: #563d7c;
    color: #fff;
    padding: 20px;
    height: 100%;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 999;
    box-sizing: border-box;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #76589d;
    margin-bottom: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}


.sidebar a:hover {
    background-color: #715c9d;
}

.content {
    margin-left: 250px;
    padding: 20px;
    box-sizing: border-box;
}

.section {
    position: relative;
    width: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.section h2 {
    color: #673ab7;
    font-size: 24px;
}

.section p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

.sidebar .menu span{
    display: inline-block;
    padding: 5px;
    font-size: 28px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
}

.list-section {
    padding: 10px;
    border: 1px solid #76589d;
    margin: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.list-title,
.list-section ul li {
    display: grid;
    grid-template-columns: 10% 40% 30% 10%;
    gap: 10px;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #76589d;
}

.list-title {
    font-weight: bold;
    background-color: #f3e5f5;
    text-transform: uppercase;
}

.list-section ul {
    padding: 0;
    margin: 0;
}

.list-section ul li {
    list-style: none;
}

.list-section ul li:hover {
    background-color: #f9f2ff;
}

.column {
    text-align: left;
}

.column.stt {
    text-align: center;
}
.column.price,
.column.type {
    text-align: right;
}



